body{
    background-color: aqua;
}
h1{
    color: black;
    text-align: center;
    font-size:40%;
}
p{
color: black;
text-align: center;
font-size: 40%;
}


.itens{
    font-style: italic;
    text-align: left;
} 

.beneficios{
    background-color: aquamarine;
}

ul{
    display: inline-block;
    [vertical-align: top;
    [margin: 3%;
    [list-style: circle; 

    ]
}

#imagem2{
    width: 50%;
}